{% trans_default_domain 'TadckaTreeBundle' %}
{% set translation = tree.translation(app.request.locale) %}

<tr>
    <td class="col-sm-1">{{ numeric }}</td>
    <td>{{ translation is not empty and translation.title is not empty ? translation.title : 'not_found_title'|trans }}</td>
    <td>{{ slug }}</td>
    <td class="col-sm-2">
        <a href="{{ url('tadcka_tree_edit', {root: tree.root}) }}" class="btn btn-primary">{{ 'button.edit'|trans }}</a>
        <a href="javascript:;" class="btn btn-danger">{{ 'button.delete'|trans }}</a>
    </td>
</tr>