{% extends 'TadckaTreeBundle::layout.html.twig' %}

{% trans_default_domain 'TadckaTreeBundle' %}

{% block body %}
    <div class="row">
        <div class="col-sm-12">
            {{ form_start(form) }}
                {{ form_rest(form) }}
                <a href="{{ url('tadcka_list_tree') }}" class="btn btn-default">{{ 'button.cancel'|trans }}</a>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
